.about {
  min-height: 90vh;
  background-color: #e5ecfb;
  padding: 12.5vh 4rem;
}

.about .heading{
  font-size: xx-large;
  margin-bottom: 3rem;
}

.about .heading span{
  color: rgb(165, 1, 1);
}

.about .main_container {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.about .main_container .image {
  text-align: center;
}

.about .main_container .image img {
  width: 30rem;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.about .main_container .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}

.about .main_container .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 500;
  margin-top: 1rem;
}

.about .main_container .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-transform: none;
  word-spacing: 0.1rem;
}

.about .main_container .content span{
  font-weight: 600;
}

.about .main_container .content .box-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  font-weight: 500;
}

.about .main_container .content .box-container .box p {
  text-transform: none;
}

.about .main_container .content .box-container .box p span {
  color: #011aff;
}

.resumebtn {
  margin-top: 2rem;
}

.resumebtn .btn {
  padding: 1rem 2rem;
  border-radius: 0.5em;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  text-decoration: none;
}

.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

.resumebtn .btn:hover {
  background: #1a047e;
}

.about .content hr{
  margin: 2rem 0.5rem;
}

.about .content .skills{
  display: flex;
  gap: 5rem;
}

.about .content .skills ul{
  padding-left: 1.5rem;
}

.about .content .skills p{
  margin-top: 0;
  padding-bottom: 1rem;
  font-weight: 500;
}

.about .content .skills li{
  font-size: large;
  line-height: 2rem;
}

@media (max-width: 1275px) {
  .about .main_container .content .box-container {
    flex-direction: column;
    gap: 0rem;
  }
}

@media (max-width: 900px) {
  .about .main_container{
    flex-direction: column;
  }
  .about .main_container .content .box-container {
    flex-direction: main_container;
    gap: 0rem;
  }

  .about .main_container .image img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .about .main_container .content .box-container {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .about .content .skills{
    flex-direction: column;
  }
}