.experience{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 12.5vh 0rem;
}

.experience .container{
  padding-bottom: 2rem;
}

.experience .heading{
  padding-bottom: 3rem;
  text-align: center;
  font-size: xx-large;
}

.experience .content{
  display: flex;
  justify-content: space-around;
  min-height: 70vh;
}

.experience .content .left_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}

.experience .content .vl{
  border: 0.1rem solid black;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
}


.experience .content .vl .vl_container{
  height: 33%;
  display: flex;
  align-items: center;
}

.experience .content .vl .vl_container .circle {
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  background-color: white;
 }

.experience .content .right_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30%;
}


.experience .content .content_card{
  background-color: #e5ecfb;
  min-height: 33%;
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(27, 27, 27);
}

.experience .content .content_card h3{
  font-size: 1.25rem;
  font-weight: 700;
}

.experience .content .content_card h4{
  font-size: 1rem;
}

.experience .content .content_card ul{
  padding: 0.5rem 0 0 1rem;
}

@media (max-width: 1200px){
  .experience .content{
    flex-direction: column;
  }

  .experience .content .vl .vl_container{
    height: 0;
  }

  .experience .content .vl .vl_container .circle{
    width: 0;
    height: 0;
  }

  .experience .content .vl{
    border: none;
  }

  .experience .content .content_card{
    margin-bottom: 1.5rem;
  }

}